{% extends 'authuser/layout.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/base.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="panel">
        <form class="form" action="{% url 'authuser:login' %}" method="post">
            {% csrf_token %}
            {{ form }}
            {% if request.GET.next %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            {% endif %}
            <input type="submit" class="form-button" value="ورود">
        </form>
        <p>حساب کاربری ندارید؟<a href="{% url 'authuser:registration' %}">ساختن حساب</a> </p>
    </div>
</div>
{% endblock %}
