{% extends 'patient/layout.html' %}
{% load static %}
{% load jalali_tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'home/doctor.css' %}">
{% endblock %}


{% block body %}
    <div class="container">
        <div class="display-flex">
            {% for office in offices %}
            <div class="day-box">
                <form action="{% url 'patient:office_view' office_id=office.id %}">
                    <p>{% if office.doctor.image %}</p>
                    <img class="form-control" src="{{ office.doctor.image.url }}">
                    {% endif %}
                    <p>{{office.doctor}}</p>
                    <p>{{office.speciality}}</p>
                    <p>{{office.address}}</p>
                    <input type="submit" class="form-button" value="رزرو">
                </form>
            </div>
            {% empty %}
            پزشکی پیدا نشد.
        {% endfor %}
        </div>
    </div>
{% endblock %}